.AddFactBody *{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.AddFactBody{
    min-height: 100vh;
    min-width: 100%;
    height: fit-content;
    width: fit-content;
}
.AddFactBox{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 35em;
    width: 35em;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.671);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddFactContent{
    height: 98%;
    width: 98%;
    border-radius: 5px;
}
.AddFactTitle{
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 25px;
    width: 90%;
    min-height: 12vh;
}
.AddFactTitle p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(65, 61, 61);
}
.AddFactTitle h2{
    font-family: 'Nabla', cursive;
    font-size: 38px;
    margin: 10px;
}
.AddFactInputs{
    display: flex;
    justify-content: center;
    width: 88%;
    height: 34px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 3px;
}
.AddFactInputs input{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.02);
    text-align: left;
    text-indent: 10px;
    color: black;
}
.AddFactInputs input:focus{
    outline: none;
    background-color: transparent;
}
.AddFactInputs input::placeholder{
    text-indent: 10px;
    color: rgb(49, 47, 47);
}
.AddFactInputs textarea::placeholder{
    color: rgb(49, 47, 47);
}
.AddFactInputs textarea:focus{
    outline: none;
    background-color: transparent;
}
.AddFactInputs textarea{
    height: 90%;
    width: 96%;
    margin: auto;
    resize: none;
    border: none;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.02);
    text-align: left;
    color: black;
}
#AddFactDesc{
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.26);
}
.AddFactDesc::-webkit-scrollbar {
    display: none;
}
.AddFactDesc{
    width: 88%;
    margin: auto;
}
.AddFactButton{
    width: 88%;
    margin: auto;
    background-color: rgb(212, 0, 255);
    border-radius: 4px;
}
.AddFactButton button{
    width: 100%;
    height: 34px;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}
.AddFactButton button:hover{
    background-color: transparent;
    border: none;
}